/* {
    padding: 0px;
    background-color: #624728;
}  */
.parent{background-color: #624728;
}
.nav-bar{background-color: #271C10;
        float:left;
        display: block;
        padding-left: 150px;
        margin: 10;
        list-style:none;
        text-align: center;
        color: white;

        font-size: 24px;
        font-family: inter;
        font-weight: 700;
        width:90%;

}
.me{
    padding-left: 75px;
    padding-right: 90px;
}
.nav-bar ul li{
    list-style: none;
    float: left;
    padding-left:2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin: 10px;
    font-weight: 700px;
    font-size: 100px;
    font-family: inter;
    
}
.logo{width: 40%;
    height: 60px;
    padding-left: 1.5%;

}
.home{
    background-image: url(/images/home.png);
    width: 90%;
    height: 720px;
    background-repeat: no-repeat;
   
    margin-top:5%;
    margin-left: 2%;
    padding-top:30% ;
   
    
    background-size: cover;
   
    

}
.home-div{
    margin: -1200px 0px 0px 100px ;
}
.home-h2{
    font-style: scriptMTBold;
    font-weight: 1000;
    font-size: 400px;
    color: white;
    margin-top: 0%;
    margin-bottom: 1500px;
    margin-left: 1000px; 
}
.home-p{
    font-size:120px ;
    font-weight:500 ;
  margin-top: -1500px;
    color:white;
    margin-left: 1000px; 
}



.about-me{
    margin-left: 100px;
    background-color: #271C10;
    width: 90%;
    height: 2000px;
}
.child1{
    color: white;
    font-weight: 700;
    font-style: scriptMTBold;
    font-size: 70px;
}
.child2 h4{
    color: #F3BF81;
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
}
.edback{
    color: white;
    font-weight: 300;
    font-size: 100px;
    

}
    .child1, .child2, .child3{
        margin: 100px 0px 0px 800px;
        font-size: 80px;
    }


.skills{
    color:#F3BF81 ;
    font-style: italic;
    font-weight: 700px;
    font-size: 100px;


}
.skills-list{
    font-size: 100px;
    margin-top: -100px;
    /* margin-left:900px; */
    color:white;
}



.my-projects{
    background-color: #271C10;
    display: flex;
    margin: 100px;
    width: 80%;
    height: 2000px;
    color: white;
    font-weight: 700;
    font-style: scriptMTBold;
    font-size: 70px;
    padding-left:  10%;
    margin-left: 100px;
    

}
.kid1 {


    
}
.kid2 {
 
 

}
.kid3{
    display: flex;
    width: 10%;
    height:70% ;
    
    
}
.kid3 img{
    padding: 2cm;
}

.my-blog{
    background-color: #271C10;
    margin: 100px;
    width:90% ;
    height: 2000px;
    color: white;
    font-weight: 700;
    font-style: scriptMTBold;
    font-size: 70px;



}
.contact-me{background-color: #271C10;
    margin: 100px;
    width:90% ;
    height: 1500px;
    color: white;
    font-weight: 700;
    font-style: scriptMTBold;
    font-size: 70px;
}



/* .navbar ul{  position: top;
    list-style-type: none;
    margin: 0;
    padding: 2%;
    display: inline;
    top: 0;
    position: absolute;
    width: 100%;
    height: 39px;
    font-style:inter ;
    color:white ;

    } */
    
    

    /* .aboutme {
        padding: auto;
        position: relative;
        top:1440px;
        

    }  */

    