.parent{background-color: #624728;

}
.nav-bar{background-color: #271C10;
        float:left;
        display: block;
        padding: 0;
        margin: 0;
        list-style:none;
        text-align: center;
        color: white;
        font-size: 32px;
        font-family: inter;
        font-weight: 700;
        width: 100%;

}
ul li{
    list-style: none;
    float: left;
    padding:2%;
    margin: 10px;
}
.logo{

}
.home{
    background-image: url(/images/home.png);
    width: 90%;
    height: 720px;
    background-repeat: no-repeat;
   
    margin: 70px;
    padding: 0px;
    background-size: cover;
   
    

}
.home-h2{
    font-style: scriptMTBold;
    font-weight: 1000;
    font-size: 40px;
    color: white;
    
}
.


.about-me{background-color: #271C10;

}
.my-project{background-color: #271C10;

}
.my-blog{background-color: #271C10;

}
.contact-me{background-color: #271C10;

}



.navbar ul{  position: top;
    list-style-type: none;
    margin: 0;
    padding: 2%;
    display: inline;
    top: 0;
    position: absolute;
    width: 100%;
    height: 39px;
 font-style:inter ;
 font-color:white ;

    }
    
    }

    .aboutme {
        padding: auto;
        position: relative;
        top;1440px
        

    }